
body{
  /*background-color: #EEE;*/
  background-image:url(theaterBackground.jpg);
  background-size: contain;
  background-attachment: fixed;
  background-position: right;
	font-family: Helvetica, Arial, Sans-serif;
}

a{
	text-decoration: none;
	color:red;
}

h1{ 
	
	margin:0;
	color: #ffffff; 
	font-family: 'Lato', sans-serif; 
	font-size: 54px; 
	font-weight: 300; 
	line-height: 58px; 
	margin: 0 0 58px;
 }


 /*body{
   background: darkred;
 }*/
#container{ 
	background-color: #5E1313; 
	width: 800px;
	margin-left: auto; /* centers horizontaly */
	margin-right: auto;
 }

#header{
	background-color: darkblue;
  background-image: url(https://cdn.pixabay.com/photo/2016/03/06/20/09/tail-lights-1241171_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
	text-align: center;
	padding: 10px;
}

#content{
	padding:10px;
}

/* div tag always appears on new line
to prevent that use float */

#nav{
	width: 180px; 
	float:left;
}

#nav ul{
	list-style-type: none;
	padding:0;
}

.selected{
	font-width: bold;
}


#main{
	width: 600px;
	float:right;
}

#footer{ 
	/*this means clear of any floating elements*/
	clear:both;
	padding: 10px;
	background-color: #999;
	color: white;
  text-align: right;
  opacity: 0.5;
 }
 * {box-sizing:border-box}

 /*Slideshow header*/
 .slide-show-header{
   background-color: black;
   color: white;
   font-size: 17px;
   text-align: left;
   opacity: 0.6;
 }
.h3-slide-show-header{
  margin: 20px;
  padding: 5px;
}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot, .dot2{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: black;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: black;
}


/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-left: 16px;
  font-size: 17px;
}

.topnav .search-container button {
  float: left;
  padding: 8px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
