*{
	margin:0;
	padding:0;
}
body{ 
	background-position: center;
	background-size: cover;
 }
 .logo{ 
 	width:150px;
 	margin-top:18px; 
  }

 #header{
	height:10%;
 }
 


 .header-btn{
 	margin: 10px;
 	text-decoration: none !important; 
 	border-radius: 30px;
 	padding: 7px 20px; 
 	float: right;
 	margin-top:15px; 
 	color:#fff !important;
 	background: #107afd;
 	font-weight: 600;

 }

 .movie-details{ 
 	margin: 3%  0; 
  }

  .left-box{
  	color: #fff;
  }
 
  .left-box a{ 
	text-decoration: none !important; 
 	border-radius: 30px;
 	padding: 7px 20px; 
 	margin-top:15px; 
 	color:#fff !important;
 	background: #107afd;
 	font-weight: 600;
 	display: inline-block;
   }

   .fa{ 
   	margin: 0 5px;
    }

     .featured{ 
     	width:50%;
  	    cursor: pointer;
  		opacity: 1;
  		border-radius: 30px;
   }
 
   .series h3{ 
   		color: #fff;
    }

    .series img{ 
    	width: 65%;
		margin-top: 15px;
		cursor: pointer;
		transition: 1s;
	 }
	 
	 .series img:hover{
		 transform: translateY(-10px);
	 }