{% extends "template.html" %}


  
  {% block navigation %}
  <a href= "{{ url_for('login')}}" class="header-btn"><i class="fa fa-user"></i>Login</a>
  <a href= "{{ url_for('signup')}}" class="header-btn"></i>Sign Up</a>
  <a href= "{{ url_for('moviedetails')}}" class="header-btn"></i>Movie Details</a>
  {% endblock %}

{% block movies %}
<style>
    img{
      width: 65%;
      margin-top: 15px;
      cursor: pointer;
      transition: 1s;
    }
    img:hover{
       transform: translateY(-10px);
     }

    .button {
      float: left;
      opacity: 0;
      transition: opacity .35s ease;
    }

    .button a {
      width: 200px;
      padding: 12px 48px;
      text-align: center;
      color: white;
      border: solid 2px white;
      z-index: 1;
    }

    .col-md-4:hover .button {
      opacity: 1;
    }

    
    </style>
    
      {% for tuple in data %}
      {% if loop.index == 1 %}
      <div class="row">
          <div class="col-md-4">
            <a href=movie/{{tuple[0]}}>
              <img src={{tuple[1]}}></a>
              <button class="button">
                  <i class="fa fa-heart"></i>
              </button>
          </div>
      {% elif loop.index is divisibleby 3  %}
      <div class="row">
       <div class="col-md-4"><a href=movie/{{tuple[0]}}><img src={{tuple[1]}}></a>
        <button class="button">
            <i class="fa fa-heart"></i>
        </button>
      </div> 
      </div>
      {% else %}
          <div class="col-md-4"><a href=movie/{{tuple[0]}}><img src={{tuple[1]}}></a>
            <button class="button">
                <i class="fa fa-heart"></i>
            </button>
          </div>
        {% endif %}
        
    
    {% endfor %}
  {% endblock %}
