<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Movie Night</title>
    <link rel="stylesheet" href="style.css">
    <link rel="sylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
   
  

      <div class ="container header">
        <img src="images/logo.png" class="logo">
        
        <a href="#" class="header-btn"><i class="fa fa-user"></i>Account</a>
      </div>
      
      <div class = "container movie-details">
      <div class ="row">
      <div class = "col-md-2 left-box">
        <h1>Titanic</h1>
      
        <p>This movie is about a ship hitting an iceberg and dying. Go watch it</p>
      
        <p>Cast: </p>
        <div class="casting">
          <p>Leonardo Dicaprio, Julia Roberts, Danny Devito </p>
        </div>
        
        <a href="#"> <i class="fa fa-play"></i>Watch Now</a>
      </div>
      
      <div class = "col-md-2 text-center">
        <img src="images/movie2.jpg" class="featured">
      </div>	
      
      </div>	
      
      <div class ="container series">
      <h3>Popular Movies</h3>
      <div class="row">
      <div class="col-md-4">
        <div class="col-6"><img src="images/movie3.jpg">
        </div>
        <div class="col-6">
          <img src="images/movie4.jpg">	
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="col-6"><img src="images/jaws.jpg">
        </div>
        <div class="col-6">
          <img src="images/movie5.jpg">	
        </div>
      
      </div>
      <div class="col-md-4"></div>
      
      </div>
      </div>
  
  
  
  
  
  
    <div id="footer">
				Copyright &copy; 2019 MPC TEAM
			</div>
	


    
    {% endblock %}
  </body>
</html>