{% extends "template.html" %}

  
   
  
  {% block navigation %}
  <a href= "{{ url_for('login')}}" class="header-btn"><i class="fa fa-user"></i>Login</a>
  <a href= "{{ url_for('signup')}}" class="header-btn"></i>Sign Up</a>
  {% endblock %}

  {% block img1 %}
  <img src="static/images/jaws.jpg">
  {% endblock %}


  {% block img2 %}

  <style>
  img{
    width: 65%;
		margin-top: 15px;
		cursor: pointer;
		transition: 1s;
  }
  img:hover{
		 transform: translateY(-10px);
	 }
  
  </style>
  <img src="static/images/movie3.jpg">
  {% endblock %}

 
  {% block img3 %}
  <img src="static/images/jaws.jpg">
  {% endblock %}

 
  {% block img4 %}
  <img src="static/images/movie4.jpg">
  {% endblock %}

  {% block img5 %}
  <img src="static/images/movie3.jpg">
  {% endblock %}

  {% block img6 %}
  <img src="static/images/movie5.jpg">
  {% endblock %}
