{% extends "template.html" %}
{% block title%}
<h2>
		<span style="color:salmon;">{{movieInfo[0]}}</span>
</h2>
{% endblock %}

{% block movies %}
<table cellspacing="20">
    <tr>
      <td><img src={{movieInfo[5]}}></td>
      <td>
      	<table>
      		<tr>
      			<td>
      				<p style="font-size:medium;color: white;"><span style="color:salmon;"> Release Date: </span>{{movieInfo[1]}}</p>
      			</td>
      		</tr>
      		<tr>
      			<td>
					  <p style="font-size:medium;"><span style="color:salmon;">Genre: </span> <span style="color:white;">
						{{movieInfo[2]}}</span></p>
      			</td>
      		</tr>
      		<tr>
      			<td>
      				<p style="font-size:medium;color: white;"><a href={{movieInfo[3]}}>Movie info and Trailer</a></p>
      			</td>
      		</tr>
      		<tr>
      			<td>
      				<p style="font-size:medium;color: white;"><span style="color:salmon;">Description:</span> {{movieInfo[4]}}</p>
      			</td>
      		</tr>
      	</table>
      </td>
    </tr>
  </table>

{% endblock %}


