{% extends 'template.html' %}

{% block content%}

<div class="container" id="reccomender_box">
<h2>
  Input up to 5 movies
</h2>
<div class="tagtacular_basic blue" id="tagtacular_9" style="align-content: center"></div>
<div style="font-size:1.5em; text-align:center">
  <button class="button5" type="button" onclick="processMovies()">Recommend Movies</button>
</div>
<script type="text/javascript">
var tags9 = $('#tagtacular_9').tagtacular({
		entityId: 109,
    entityTags: [],
    /*
		remoteDataSource: function(request, response) {
			var url = 'https://restcountries.eu/rest/v1/name/' + encodeURIComponent(request.term);

			$.get(url, function(data){
				processed = $(data).map(function() { return this.name; });

				// restcountries.eu matches alternate spellings by default (which are alternate names in some cases). 
				// We're throwing out those matches in order to not confuse the user.
				processed = processed.filter(function(i, value) {
					return value.toLowerCase().indexOf(request.term.toLowerCase()) >= 0;
				});
				response(processed);
			});
    },
    */
		configEditTrayFirst: true,
		configLimitToExisting: false,
		configShowAddButton: false,
    configShowSwitchButton: false,
  });

  function processMovies(){
    /*
  var p = document.createElement("p");
  p.innerHTML = JSON.stringify(tags9.getEntityTags());
  document.body.appendChild(p);
  */
 var userInputtedMovies=tags9.getEntityTags()
  }
  
</script>
</div>

{% endblock %}


{% block img1 %}
<img src="static/images/noImage.png">
{% endblock %}


  {% block img2 %}
  <img src="static/images/noImage.png">
  {% endblock %}

 
  {% block img3 %}
  <img src="static/images/noImage.png">
  {% endblock %}
 
  {% block img4 %}
  <img src="static/images/noImage.png">
  {% endblock %}

  {% block img5 %}
  <img src="/static/images/noImage.png">
  {% endblock %}

  {% block img6 %}
  <img src="/static/images/noImage.png">
  {% endblock %}