{% extends 'template.html' %}


{% block content%}
<h1>I need help finding a movie!</h1>
{% endblock %}


{% block img1 %}
<img src="static/images/noImage.jpg">
{% endblock %}


  {% block img2 %}
  <img src="static/images/noImage.jpg">
  {% endblock %}

 
  {% block img3 %}
  <img src="static/images/noImage.jpg">
  {% endblock %}
 
  {% block img4 %}
  <img src="static/images/noImage.jpg">
  {% endblock %}

  {% block img5 %}
  <img src="static/images/noImage.jpg">
  {% endblock %}

  {% block img6 %}
  <img src="static/images/noImage.jpg">
  {% endblock %}