{% extends 'template.html' %}

{% block content%}

<div class="container" id="reccomender_box">
<h2>
  Input up to 5 movies
</h2>
<div class="tagtacular_basic blue" id="tagtacular_9" style="align-content: center"></div>
<div style="font-size:1.5em; text-align:center">
 
  <button class="button5"  type="button" onclick="processMovies()">Recommend Movies</button>

</div>
<script type="text/javascript">
var userInputtedMovies=[];

var myMovieArrayString = '{{my_movie_list|tojson}}';
var myMovieArray= myMovieArrayString.split(",");
var lengthOfMovieArray = '{{list_len}}';
for(i=0; i< lengthOfMovieArray; i++){
  myMovieArray[i] = myMovieArray[i].replace(/[\[\]"]+/g,'');
  console.log(myMovieArray[i]);
}

var tags9 = $('#tagtacular_9').tagtacular({
		entityId: 109,
    entityTags: [],
    systemTags: myMovieArray,
  
		configEditTrayFirst: true,
		configLimitToExisting: true,
		configShowAddButton: false,
    configShowSwitchButton: false,
  });

  function processMovies(){
    
  var p = document.createElement("p");
  p.innerHTML = JSON.stringify(tags9.getEntityTags());
  document.body.appendChild(p);

  userInputtedMovies=tags9.getEntityTags();
  var input = {
    userInputtedMovies : userInputtedMovies.value
  };
  

  fetch(`${window.origin}/process`,{
    method: "POST",
    credentials: "include",
    body: JSON.stringify(userInputtedMovies),
    cache: "no-cache",
    headers: new Headers({
        "content-type": "application/json"
    })
  })

  //redirects page to recMovies page
  window.location="/recMovies";


  }


</script>
</div>

{% endblock %}


