
<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   {% block head %}
   <meta charset="utf-8">
   <title>Flask Parent Template</title>
   <link rel="stylesheet" href="{{ url_for('static',     filename='template.css') }}">
  
<style>
body{ 
  background-image: url(static/background3.jpg);
}
</style>
{% endblock%}
 </head>
 <body>
   
    <div id="header">
        {% block header %}
            <img src="/static/images/logo.png" class="logo">
            <a href="#" class="header-btn"><i class="fa fa-user"></i>Account</a>
            <a href="#" class="header-btn">Recommend</a>
            </div>

    <div id="body">{%block content%} {%endblock%}</div>
    {% endblock %}

    
 </body>
</html>
