{% extends "template.html" %}


{% block navigation %}
<a href= "{{ url_for('logout')}}" class="header-btn"></i>Log Out</a>
{% endblock %}

{% block content %}
<style>
h4{
    color:white;
}
</style>

<h4>Watched List</h4>
<div class="owl-carousel owl-theme" id="myWatchedList">
</div>
<h4>Favorites</h4>
<div class="owl-carousel owl-theme" id="myToWatchList">
</div>
<script>
  var moviesWatched= '{{myWatchedMovies|tojson}}';
  var moviesFavorited = '{{myFavoriteMovies|tojson}}';
  carouselCreation(moviesWatched, 'myWatchedList');
  carouselCreation(moviesFavorited, 'myToWatchList')
  $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    //loop:true,
    loop:false,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
});

function carouselCreation(movieList, elementID){
    var mainDiv = document.getElementById(elementID);
    var formattedMovieList = movieList.split(",");
    var movieListLength = formattedMovieList.length;
    for(i = 0; i < movieListLength; i++){
        formattedMovieList[i] = formattedMovieList[i].replace(/[\[\]"]+/g,'');
        var innerIMG= document.createElement('img');
        innerIMG.src= formattedMovieList[i]
        mainDiv.appendChild(innerIMG);
    }
}

</script>

{% endblock %}