{% extends "template.html" %}


{% block navigation %}
<a href= "{{ url_for('logout')}}" class="header-btn"></i>Log Out</a>
{% endblock %}

{% block content %}
<style>
h4{
    color:white;
}
</style>

<h4>Movies watched</h4>
<div class="owl-carousel owl-theme" id="myWatchedList">
</div>
<h4>Movies to watch</h4>
<div class="owl-carousel owl-theme" id="myToWatchList">
</div>
<script>
  console.log("injs");
  var moviesWatched= '{{myWatchedMovies|tojson}}';
  var moviesFavorited = '{{myFavoriteMovies|tojson}}';
  var mainDiv1 = document.getElementById('myWatchedList');
  var mainDiv2 = document.getElementById('myToWatchList');
  var moviesWatchedFormatted= moviesWatched.split(",");
  var moviesFavoritedFormatted = moviesFavorited.split(",");
  var list_lenFavorite = moviesFavoritedFormatted.length;
  var list_lenWatched = moviesWatchedFormatted.length;
  for(i=0; i< list_lenWatched; i++){
  moviesWatchedFormatted[i] = moviesWatchedFormatted[i].replace(/[\[\]"]+/g,'');
  var innerIMGWatched= document.createElement('img');
  innerIMGWatched.src= moviesWatchedFormatted[i]
  mainDiv1.appendChild(innerIMGWatched);
  }
  for(i=0; i< list_lenFavorite; i++){
  moviesFavoritedFormatted[i] = moviesFavoritedFormatted[i].replace(/[\[\]"]+/g,'');
  var innerIMGtoWatch= document.createElement('img');
  innerIMGtoWatch.src = moviesFavoritedFormatted[i];
  mainDiv2.appendChild(innerIMGtoWatch);
  }


  $(document).ready(function(){
  $('.owl-carousel').owlCarousel({
    //loop:true,
    loop:false,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
});
</script>

{% endblock %}